<!DOCTYPE html>
<html>
<head>
  <meta lang="en" />
  <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/bower_components/axios/dist/axios.js' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title> Index </title>

</head>
